@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth
}

li,
ul {
    display: block;
    list-style: none
}

.search-box:focus-within {}

.search-box:hover {
    box-shadow: 0 1px 8px 0 #b7b7b747
}

#search-icon {
    display: block;
    position: absolute;
    /* left: 17px; */
    /* top: 2px; */
    /* width: 22px; */
    /* height: 38px; */
    overflow: hidden;
    text-align: center;
    line-height: 12px;
    font-size: 19px;
    color: #2196f3;
    cursor: pointer;
}

input::-webkit-input-placeholder {
    font-size: 16px;
    font-family: SF-Pro-Display-Semibold, PingFangSC-Regular, 'Microsoft YaHei UI', 'Microsoft YaHei', helvetica, sans-serif;
    letter-spacing: 1px;
    color: #ccc
}

.search-hot-text ul li.current {
    background: #f1f1f12b;
    color: #2196f3
}

.search-hot-text ul li:hover {
    background: #f1f1f147;
    color: #2196f3;
    cursor: pointer
}

.cediceng {
    text-align: center;
    font-size: 12px;
    width: 100%;
    margin: 0% 0%;
    line-height: 30px;
    letter-spacing: 1px;
    color: #3c3c3c9c;
}

#search-clear {
    position: absolute;
    top: 21px;
    right: 43px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: -10px;
    color: #9aa0a6;
    cursor: pointer;
}

#search-enter {
    position: absolute;
    top: 6px;
    right: 11px;
    /* width: 20px; */
    /* height: 19px; */
    line-height: 20px;
    text-align: center;
    /* margin-top: -10px; */
    color: #9aa0a6;
    cursor: pointer;
}

#search-clear:hover,
#search-enter:hover {
    color: #5c5e63;
}


/* .search-engine-list li {
    float: left;
    width: 30%;
    line-height: 100%;
    font-size: 80%;
    padding: 1.2%;
    text-align: center;
    margin: 5px 5px 5px 5px;
    background: #f9f9f9;
    color: #636363;
    cursor: pointer;
    list-style: none;
    border-radius: 7px;
    border: 1px solid #fff;
} */

.search-engine-list li {
    float: left;
    width: 30%;
    line-height: 30px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    margin: 0 10px 10px 0;
    background: #f9f9f9;
    color: #999;
    cursor: pointer;
    list-style: none;
    border-radius: 7px;
    border: 1px solid #fff;
}

.search-engine-list li:hover {
    background: #f9f9f9;
    border: 1px solid #5f5f5f57
}

.search-engine-list li i {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-right: 5px;
    margin-top: 2.5px
}

.search-engine-list .icon {
    /* padding: 0 5px 0 0 */
    width: 25px;
    height: 25px;
    border-radius: 15px;
    float: left;
    margin-right: 5px;
    margin-top: 2.5px;
}

.search-engine-tool>span {
    display: inline-block;
    width: 25px;
    height: 15px;
    font-size: 18px;
    line-height: 15px;
    cursor: pointer;
    /* color:#0e932e */
}

.search-engine-tool>span.icon-kaiguanguan-kai {
    color: #0e932e
}

.heiye {
    /* background: rgba(255, 255, 255, 1); */
    text-align: center;
    font-size: 13px;
    width: 100%;
    margin: 1% 0%;
    /* position:absolute;
    left:0px;
    top:90%; */
    z-index: 0;
}

.switch {
    position: relative;
    left: 1px;
    top: 6px;
    display: inline-block;
    width: 28px;
    height: 13px
}

.switch input {
    display: none
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 1px;
    bottom: 1px;
    background-color: #fff;
    -webkit-transition: .3s;
    transition: .3s
}

input:checked+.slider {
    background-color: #32cd32
}

input:focus+.slider {
    box-shadow: 0 0 1px #32cd32
}

input:checked+.slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px)
}

.slider.round {
    border-radius: 32px
}

.slider.round:before {
    border-radius: 50%
}

.caidan {
    /* position: fixed;
    bottom: 80px;
    width: 100%; */
    /* absolute */
    position: relative;
    /* left: 0px;
    top: 90%; */
}

.center-footer {
    width: 90%;
    margin: 0% 0%;
}

.footer .banquan {
    text-align: center;
    font-size: 12px;
    color: #8080803d;
}

.icon {
    width: 3em;
    height: 3em;
    vertical-align: -.35em;
    fill: currentColor;
    overflow: hidden;
    padding: 0 4px 0 0px;
}

.icon2 {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -.35em;
    fill: currentColor;
    overflow: hidden;
    padding: 0 4px 0 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #616161d9;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 4px 4.5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -55px;
    opacity: 0;
    transition: opacity 0.25s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #616161d9 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    line-height: 17px;
}

.nav {
    overflow: hidden;
    position: absolute;
    left: 49%;
    top: 50%;
    width: auto;
    height: 50px;
    /* margin-top: -25px; */
    /* border-radius: 5px; */
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.nav__cb {
    z-index: -1000;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.nav__content {
    position: relative;
    width: 50px;
    height: 100%;
    -webkit-transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
    transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
}

.nav__cb:checked~.nav__content {
    -webkit-transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
    transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
    width: 350px;
}

.nav__items {
    opacity: 0.6;
    position: relative;
    width: 410px;
    height: 100%;
    padding-left: 20px;
    padding-right: 110px;
    list-style-type: none;
    font-size: 0;
}

.nav__item {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    text-align: center;
    /* color: #67676775; */
    color: rgb(248, 241, 241);
    /* color: #0d0d0d; */
    font-size: 14px;
    line-height: 50px;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
}

.nav__item:hover {
    /* color: #a5a5a5c4; */
    color: #0d0d0d;
    text-shadow: 0px 0px 2px #71717145;
}

.nav__item-text {
    display: block;
    height: 100%;
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    opacity: 0;
    -webkit-transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
    transition: opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
    transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s;
    transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
}

.nav__cb:checked~.nav__content .nav__item-text {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
    transition: opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
    transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s;
    transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s, -webkit-transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5);
}

.nav__item:nth-child(1) .nav__item-text {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.nav__cb:checked~.nav__content .nav__item:nth-child(1) .nav__item-text {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.nav__item:nth-child(2) .nav__item-text {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.nav__cb:checked~.nav__content .nav__item:nth-child(2) .nav__item-text {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.nav__item:nth-child(3) .nav__item-text {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.nav__cb:checked~.nav__content .nav__item:nth-child(3) .nav__item-text {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.nav__item:nth-child(4) .nav__item-text {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.nav__cb:checked~.nav__content .nav__item:nth-child(4) .nav__item-text {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.nav__btn {
    position: absolute;
    right: 4px;
    top: 0;
    width: 15px;
    height: 15px;
    padding: 24px 18px;
    cursor: pointer;
}

.nav__btn:before,
.nav__btn:after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 3px;
    background: #bfbfbf61;
    /* background: #0d0d0d; */
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
    transition: background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
    transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s;
    transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s, -webkit-transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
}

.nav__btn:before {
    margin-bottom: -2px;
    transform: rotate(90deg);
}

.nav__btn:hover:before,
.nav__btn:hover:after {
    /* background: #bbbbbb; */
}

.nav__cb:checked~.nav__btn:before {
    -webkit-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
}

.nav__cb:checked~.nav__btn:after {
    -webkit-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
}

#menu {
    /* border: solid 1px blue ！important; */
    width: 50px;
    height: 50px;
    transform: scale(.8);
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1;
    cursor: pointer;
    z-index: 2001
}

#menu i {
    position: fixed;
    left: 0;
    right: 0;
    margin: 20px auto;
    width: 20px;
    height: 2px;
    background: #777;
    transition: .3s all ease;
}

#menu i:before {
    content: '';
    width: 20px;
    height: 2px;
    top: -8px;
    background: #777;
    position: absolute;
    right: 0;
    transition: .3s all ease
}

#menu i:after {
    content: '';
    width: 20px;
    height: 2px;
    bottom: -8px;
    background: #777;
    position: absolute;
    left: 0;
    transition: .3s all ease
}

#menu.on {
    border-radius: 25px
}

#menu.on i {
    width: 25px;
    /* background: #777; */
    background: #000;
}

#menu.on i:before {
    top: -5px;
    transform: rotate(45deg);
    width: 14px;
    right: -1px;
    left: auto;
    /* background: #777; */
    background: #000;
}

#menu.on i:after {
    bottom: -5px;
    transform: rotate(-45deg);
    width: 14px;
    right: -1px;
    left: auto;
    /* background: #777; */
    background: #000;
}

.list {
    width: 400px;
    padding: 0px 20px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    right: -7px;
    z-index: 2000;
    /* background: #f1f1f173; */
    background-color: #fff;
    transition: .7s all cubic-bezier(0, 0, 0.32, 1.03);
    position: fixed;
}

.list.closed {
    right: -450px;
}

.list ul {
    width: 360px;
    float: left;
    padding: 20px 0;
    margin-bottom: 20px;
}

.list ul li {
    float: left;
    margin: 5px;
    width: 110px;
    height: 30px;
    text-align: left;
    line-height: 30px;
    font-size: 12px;
}

.list ul li a {
    width: 100%;
    border-radius: 7px;
    transition: .2s all linear;
    height: 100%;
    display: block;
    color: #3a3a3a;
    font-weight: 500;
    background: #e6e6e694;
    text-align: center;
}

.list ul li a i {
    margin-right: 5px;
    margin-left: 15px;
    transition: .2s all linear
}

.list ul li:hover a {
    background-image: linear-gradient(#4e4e4e8c, #4e4e4e9e);
    color: #fff
}

.list ul li:hover a i {
    color: #fff!important
}

.list ul li.title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    text-align: left;
    text-indent: 10px;
    border-bottom: 1px dashed #bbb;
    color: #000;
    font-size: 18px;
    font-weight: bold
}

.list ul li.title i {
    color: #02f;
    margin-right: 5px
}

.con {
    width: 90%;
    margin: auto;
    /* min-width: 320px; */
    /* height: 380px; */
    position: static;
    left: 0;
    top: -20%;
    right: 0;
    bottom: 0
}

.con .shlogo {
    position: relative;
    /* width: 480px; */
    /* height: 60px; */
    margin: 20px auto;
    background-size: 3em
}

.fubaioti {
    text-align: center;
    font-size: 13px;
    width: 100.1%;
    margin: 0% 0%;
    /* line-height: 30px; */
    letter-spacing: 3px;
    color: #959595;
}

.con .shlogo .logo-text {
    background: linear-gradient(45deg, #f3671b, #f09708, #de3959, #9b6614);
    background-size: 200% 200%;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 50s infinite linear;
    opacity: .9;
    font-size: 2.5em;
    letter-spacing: 3px;
    text-align: center;
    /* line-height: 100px */
}

.embed {
    font-family: Alcubierre, SF-Pro-Display-Semibold, PingFangSC-Regular, 'Microsoft YaHei UI', 'Microsoft YaHei', helvetica, sans-serif;
    color: #535353
}

.con .shlogo a {
    width: 100%;
    display: block;
    width: 100%;
    height: 100%
}

.con .sou {
    max-width: 680px;
    position: relative;
    width: calc(100% - 60px);
    min-width: 320px;
    margin: 0 auto
}

.con .sou form {
    width: 100%;
    height: 50px;
    display: block;
    margin: 10px auto 30px;
    position: relative
}

.con .sou form .wd {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #ddd;
    border-radius: 25px;
    line-height: 100%;
    text-indent: 20px;
    font-size: 18px
}

.con .sou form .wd:focus {
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-color: #fff
}

.con .sou form button {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    z-index: 10;
    right: 6px;
    top: 6px;
    cursor: pointer;
    font-size: 22px;
    line-height: 40px;
    border-radius: 50%;
    color: #777
}

.con .sou ul {
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center
}

.con .sou ul li {
    width: 120px;
    margin: 0 10px;
    float: left;
    -webkit-tap-highlight-color: transparent;
    background: #eee;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-indent: 30px;
    cursor: pointer;
    position: relative;
    border-radius: 20px
}

.con .sou ul li:active {
    background: #fff;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .1)
}

.con .sou ul li i {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    left: 0;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(.7)
}


/* 
@media (min-width:991px) {
    .col,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        padding: 0 10px
    }
    .heiye {
        text-align: center;
        font-size: 13px;
        width: 100%;
        margin: 1% 0%;
        position: absolute;
        left: 0px;
        top: 58%;
        z-index: 0;
    }
    .sousuo {
        padding: 30px 0 15px 0;
        margin-top: -8px;
    }
    .sousuo-form {
        width: 100%;
        margin: 0 auto
    }
    #input {
        outline: 0;
        padding: 0 10px;
        height: 46px;
        line-height: 46px;
        border: 1px solid #ccc;
        border-left: none;
        display: block;
        padding-left: 90px
    }
    #so-btn {
        width: 15%;
        float: right;
        height: 45px;
        background: #3385ff;
        color: #fff;
        border: none
    }
    .search {
        width: 650px
    }
    .search-hot-text {
        width: 99.7%;
        margin: -6px 0px -1px;
    }
    .search-engine {
        width: 650px
    }
    .search-engine-list li {
        width: 15%;
    }
}

.search-hot-text ul li span {
    -webkit-tap-highlight-color: #00000000;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    width: 12px;
    height: 0px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    background: #e5e5e5;
    margin-right: 10px;
    border-radius: 10px;
    color: #53535300
}

@media (max-width:1043px) {
    .search-hot-text {
        width: 99.8%;
        margin: -6px 0px -1px;
    }
    .search-engine-list li {
        float: left;
        width: 18.5%;
    }
}

@media (max-width:1070px) {
    .search-hot-text {
        width: 99.7%;
        margin: -6px 0px -1px;
    }
    .search-engine-list li {
        float: left;
        width: 13%;
    }
}

@media (max-width:1033px) {
    .search-hot-text {
        width: 99.7%;
        margin: -6px 0px -1px;
    }
    
    .search-engine-list li {
        float: left;
        width: 30%;
    }
}
@media (max-width:964px) {
    .search-hot-text {
        width: 99.8%;
        margin: -6px 0px -1px;
    }
    
    .search-engine-list li {
        float: left;
        width: 15%;
    }
}
@media (max-width:767px) {
    .search-hot-text {
        width: 99.7%;
        margin: -6px 0px -1px;
    }
    
    .search-engine-list li {
        float: left;
        width: 15%;
    }
}
@media (max-width:593px) {
    .search-hot-text {
        width: 99.5%;
        margin: -6px 0px -1px;
    }
    
    .search-engine-list li {
        float: left;
        width: 31%;
    }
}
@media (max-width:540px) {
    .search-hot-text {
        width: 99.5%;
        margin: -6px 0px -1px;
    }
    
    .search-engine-list li {
        float: left;
        width: 30%;
    }
}
@media (max-width:500px) {
    .search-hot-text {
        width: 99.4%;
        margin: -6px 0px -1px;
    }
    
    .search-engine-list li {
        float: left;
        width: 30%;
    }
}
@media (max-width:400px) {
    .search-hot-text {
        width: 99.2%;
        margin: -6px 0px -1px;
    }
    
    .search-engine-list li {
        float: left;
        width: 46%;
    }
}
@media (max-width:340px) {
    .search-hot-text {
        width: 99.2%;
        margin: -6px 0px -1px;
    }
    
    .search-engine-list li {
        float: left;
        width: 46%;
    }
} */